{% extends 'base.html' %}
{% load static %}
{% block head %}
{{ block.super }}
    <!--management_css-->
    <link rel="stylesheet" href="{% static 'css/management/operator.css' %}">
    <!--management_end-->
    <!--js-->
    <script src="{% static 'js/management/operator.js' %}"></script>
    <script src="{% static 'js/management/file_upload.js' %}"></script>

    <script src="{% static 'js/management/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/management/locales/bootstrap-datepicker.ru.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/management/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />

    <!--js_end-->
{% endblock %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ user }}</a>
            <p class="navbar-text navbar-center">Панель управления</p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#" id="log_out">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
      </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a data-toggle="tab" href="#start">Обзор</a></li>
                <li><a data-toggle="tab" href="#upload">Загрузить данные</a></li>
                <li><a data-toggle="tab" href="#download">Выгрузить данные</a></li>
                <li><a data-toggle="tab" href="#table">Таблица</a></li>
                <div class="menublank"></div>
                <li><a data-toggle="tab" href="#50">50 лет победы, 22</a></li>
                {% for house in houses %}
                    {% if forloop.counter == 1 %}
                        <li><a data-toggle="tab" href="#{{ forloop.counter }}">{{ house.street }}, {{ house.house_number }}</a></li>
                    {% else %}
                        <li><a data-toggle="tab" href="#{{ forloop.counter }}">{{ house.street }}, {{ house.house_number }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-11 col-sm-offset-1 col-md-10 col-md-offset-2 main tab-content">
            <!--<h1 class="page-header">Панель управления</h1>-->
            <div id="start" class="tab-pane fade in active">
                <h1>Какую-нибудь статистику сюда</h1>
            </div>

            <div id="upload" class="tab-pane fade">
                <!--<h1>Загрузка</h1>-->
                <div class="col-md-12 col-sm-12 col-12">
                    <form class = "form-group" id="file-upload-form" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="panel panel-default">
				            <div class="panel-heading"><strong>Укажите файл/файлы для загрузки данных</strong> <small> </small></div>
				            <div class="panel-body">
                                <div class="input-group image-preview">
                                    <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                                    <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                                    <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Выбрать</span>
                                        <input type="file" name="file_field" multiple id="file" required>
                                        <!--<input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>-->
                                        <!-- rename it name="file_field"-->
                                    </div>
                                    <button type="button" class="btn btn-labeled btn-primary" id="upload-btn"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Загрузить</button>
                                    </span> </div>
                                <!-- /input-group image-preview [TO HERE]-->
                                <br />
                                <!-- Drop Zone -->

                                <br />
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> <span class="sr-only">0% Complete</span> </div>
                                </div>
                                <br />
                                </div>
			            </div>
                    </form>
                </div>
            </div>

            <div id="download" class="tab-pane fade">
                <h1>Выгрузка</h1>
                <div class="col-md-6 col-md-offset-3">

                    <form class="form-horizontal" id = "file-download-form">
                    <fieldset>

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                      <label class="col-md-1 col-md-offset-2 control-label" for="count_type">Счетчики</label>
                      <div class="col-md-8 col-md-offset-1">
                        <label class="radio-inline" for="radios-0">
                          <input name="count_type" id="radios-0" value="1" checked="checked" type="radio">
                          Все
                        </label>
                        <label class="radio-inline" for="radios-1">
                          <input name="count_type" id="radios-1" value="2" type="radio">
                          Электричество
                        </label>
                        <label class="radio-inline" for="radios-2">
                          <input name="count_type" id="radios-2" value="3" type="radio">
                          Вода
                        </label>
                        <label class="radio-inline" for="radios-3">
                          <input name="count_type" id="radios-3" value="4" type="radio">
                          Газ
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Период</label>
                        <div class="col-md-4">
                            <div class="input-group date date_select">
                                <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="textinput">Имя файла</label>
                      <div class="col-md-4">
                      <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="text">

                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="select_extension">Формат файла</label>
                      <div class="col-md-4">
                        <select id="select_extension" name="select_extension" class="form-control">
                          <option value="1">.xls (MS Office 97-2003)</option>
                          <option value="2">.xlsx (MS office 2007-2013)</option>
                          <option value="3">.xml</option>
                        </select>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="UnloadButton"></label>
                      <div class="col-md-4">
                        <button id="Download-Button" name="Download-Button" class="btn btn-primary">Выгрузить</button>
                      </div>
                    </div>
                    <br />

                    <div class="progress">
                        <div class="progress-bar" id = "download" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> <span class="sr-only">0% Complete</span> </div>
                    </div>

                    </fieldset>
                    </form>

                    <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Список файлов для скачивания</h3>
                      </div>
                      <div class="panel-body" id = "download_link">

                      </div>
                    </div>
                    </div>

                </div>
            </div>

            <div id="table" class="tab-pane fade">
                    <h2 class="sub-header">Section title</h2>
                    <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Header</th>
                          <th>Header</th>
                          <th>Header</th>
                          <th>Header</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1,001</td>
                          <td>Lorem</td>
                          <td>ipsum</td>
                          <td>dolor</td>
                          <td>sit</td>
                        </tr>
                        <tr>
                          <td>1,002</td>
                          <td>amet</td>
                          <td>consectetur</td>
                          <td>adipiscing</td>
                          <td>elit</td>
                        </tr>
                        <tr>
                          <td>1,003</td>
                          <td>Integer</td>
                          <td>nec</td>
                          <td>odio</td>
                          <td>Praesent</td>
                        </tr>
                        <tr>
                          <td>1,003</td>
                          <td>libero</td>
                          <td>Sed</td>
                          <td>cursus</td>
                          <td>ante</td>
                        </tr>
                        <tr>
                          <td>1,004</td>
                          <td>dapibus</td>
                          <td>diam</td>
                          <td>Sed</td>
                          <td>nisi</td>
                        </tr>
                        <tr>
                          <td>1,005</td>
                          <td>Nulla</td>
                          <td>quis</td>
                          <td>sem</td>
                          <td>at</td>
                        </tr>
                        <tr>
                          <td>1,006</td>
                          <td>nibh</td>
                          <td>elementum</td>
                          <td>imperdiet</td>
                          <td>Duis</td>
                        </tr>
                        <tr>
                          <td>1,007</td>
                          <td>sagittis</td>
                          <td>ipsum</td>
                          <td>Praesent</td>
                          <td>mauris</td>
                        </tr>
                        <tr>
                          <td>1,008</td>
                          <td>Fusce</td>
                          <td>nec</td>
                          <td>tellus</td>
                          <td>sed</td>
                        </tr>
                        <tr>
                          <td>1,009</td>
                          <td>augue</td>
                          <td>semper</td>
                          <td>porta</td>
                          <td>Mauris</td>
                        </tr>
                        <tr>
                          <td>1,010</td>
                          <td>massa</td>
                          <td>Vestibulum</td>
                          <td>lacinia</td>
                          <td>arcu</td>
                        </tr>
                        <tr>
                          <td>1,011</td>
                          <td>eget</td>
                          <td>nulla</td>
                          <td>Class</td>
                          <td>aptent</td>
                        </tr>
                        <tr>
                          <td>1,012</td>
                          <td>taciti</td>
                          <td>sociosqu</td>
                          <td>ad</td>
                          <td>litora</td>
                        </tr>
                        <tr>
                          <td>1,013</td>
                          <td>torquent</td>
                          <td>per</td>
                          <td>conubia</td>
                          <td>nostra</td>
                        </tr>
                        <tr>
                          <td>1,014</td>
                          <td>per</td>
                          <td>inceptos</td>
                          <td>himenaeos</td>
                          <td>Curabitur</td>
                        </tr>
                        <tr>
                          <td>1,015</td>
                          <td>sodales</td>
                          <td>ligula</td>
                          <td>in</td>
                          <td>libero</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>

            <div id="50" class="tab-pane fade">
                    <h2 class="sub-header">50 лет победы, 22</h2>
                    <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>№ Квартиры</th>
                          <th>Электросчетчик</th>
                          <th></th>
                          <th>Header</th>
                          <th>Header</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1,001</td>
                          <td>Lorem</td>
                          <td>ipsum</td>
                          <td>dolor</td>
                          <td>sit</td>
                        </tr>
                        <tr>
                          <td>1,002</td>
                          <td>amet</td>
                          <td>consectetur</td>
                          <td>adipiscing</td>
                          <td>elit</td>
                        </tr>
                        <tr>
                          <td>1,003</td>
                          <td>Integer</td>
                          <td>nec</td>
                          <td>odio</td>
                          <td>Praesent</td>
                        </tr>
                        <tr>
                          <td>1,003</td>
                          <td>libero</td>
                          <td>Sed</td>
                          <td>cursus</td>
                          <td>ante</td>
                        </tr>
                        <tr>
                          <td>1,004</td>
                          <td>dapibus</td>
                          <td>diam</td>
                          <td>Sed</td>
                          <td>nisi</td>
                        </tr>
                        <tr>
                          <td>1,005</td>
                          <td>Nulla</td>
                          <td>quis</td>
                          <td>sem</td>
                          <td>at</td>
                        </tr>
                        <tr>
                          <td>1,006</td>
                          <td>nibh</td>
                          <td>elementum</td>
                          <td>imperdiet</td>
                          <td>Duis</td>
                        </tr>
                        <tr>
                          <td>1,007</td>
                          <td>sagittis</td>
                          <td>ipsum</td>
                          <td>Praesent</td>
                          <td>mauris</td>
                        </tr>
                        <tr>
                          <td>1,008</td>
                          <td>Fusce</td>
                          <td>nec</td>
                          <td>tellus</td>
                          <td>sed</td>
                        </tr>
                        <tr>
                          <td>1,009</td>
                          <td>augue</td>
                          <td>semper</td>
                          <td>porta</td>
                          <td>Mauris</td>
                        </tr>
                        <tr>
                          <td>1,010</td>
                          <td>massa</td>
                          <td>Vestibulum</td>
                          <td>lacinia</td>
                          <td>arcu</td>
                        </tr>
                        <tr>
                          <td>1,011</td>
                          <td>eget</td>
                          <td>nulla</td>
                          <td>Class</td>
                          <td>aptent</td>
                        </tr>
                        <tr>
                          <td>1,012</td>
                          <td>taciti</td>
                          <td>sociosqu</td>
                          <td>ad</td>
                          <td>litora</td>
                        </tr>
                        <tr>
                          <td>1,013</td>
                          <td>torquent</td>
                          <td>per</td>
                          <td>conubia</td>
                          <td>nostra</td>
                        </tr>
                        <tr>
                          <td>1,014</td>
                          <td>per</td>
                          <td>inceptos</td>
                          <td>himenaeos</td>
                          <td>Curabitur</td>
                        </tr>
                        <tr>
                          <td>1,015</td>
                          <td>sodales</td>
                          <td>ligula</td>
                          <td>in</td>
                          <td>libero</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>

            {% for apartments in house_apartments %}
                <div id="{{ forloop.counter }}" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}">
                        <h1>{{ apartments.house.street }}, {{ apartments.house.house_number }}</h1>
                        {% for apartment in apartments.apartments_data %}
                            <button class="btn btn-primary kv_button" value="{{ apartment.0 }}">{{ apartment.0 }}<span hidden id = "acc">{{ apartment.1 }}</span></button>
                        {% endfor %}
                        <div class="save_form" id = {{ forloop.counter }}>
                            <h1></h1>
                            <div class="row">
                                <div class="col-md-12" id="counters-tabs-{{ forloop.counter }}">
                                <!--insert template-->
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}