{% extends "../base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link href="{% static "css/accounts/logout.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
                <h1 class="page-header" align="center">Спасибо, что воспользовались приёмом показаний счетчиков on-line</h1>
                <div class ="center-block text-center">
                    <form method="get" action="{% url 'accounts_login' %}" >
                        <button type="submit" class="btn btn-primary"><b>Войти снова</b></button>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}
