
amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
Django==1.11.7
django-celery-results==1.0.1
django-debug-toolbar==1.9.1
django-redis==4.8.0
kombu==4.1.0
python-memcached==1.58
pytz==2017.3
redis==2.10.6
six==1.11.0
sqlparse==0.2.4
vine==1.1.4
xlrd==1.1.0
